/*Navigation bar styling*/
.project nav{
	background-color: #FE7E00;
	color: #F1DCBC;
	width: 100%;
	overflow: auto;
}
.project nav div{
	display: inline-block;
	font-size: 30px;
	padding-left: 5%;
	padding-top: 1%;
}
.project nav img{
	display: inline-block;
	width: 30px;
	vertical-align: middle;
}
.project nav p {
	display: inline-block;
	font-family: 'Varela Round', sans-serif;
	margin: 0;
	font-weight: 100;
}
.project nav span{
	font-weight: 900;
}
.project ul{
	display: inline-block;
	float: right;
	width: 80%;
	margin: 0;
	padding: 0;
}
.project nav li {
	display: inline-block;
	font-family: 'Varela', sans-serif;
	float: right;
	font-size: 12px;
	font-weight: 900;
	margin: 3% 2%;
	text-transform: uppercase;
}

/*Section break styling*/
.project #sectionbreak{
	background-color: #F16F01;
	height: 10px;
	width: 100%;
}

/*Mid-Section styling*/
.project section{
	overflow: auto;
	width: 100%;
}
.project #leftpanel{
	width: 50%;
	display: inline-block;
}
.project #leftpanel img{
	width: 56%;
	margin: 20% 22%;
}
.project #rightpanel{
	width: 50%;
	display: inline-block;
	float: right;
	margin-bottom: 5%;
}
.project .inputzone {
	position: relative;
	margin-top: .5%;
}
.project .inputzone input{
	background-color: #F0F0F0;
	border: none;
	width: 30%;
	position: absolute;
	right: 0;
	padding: 2% 0 2% 1%;
	margin-right: 5%;
	color: #C8C8CA;
	font-size: 15px;
}
.project .inputzone i{
	position: absolute;
	right: 0;
	padding: 2% 2% 0 0;
	margin-right: 5%;
	color: #C8C8CA;
	font-size: 20px;
}
.project #rightpanel input:focus{
	outline: none;
	z-index: 1;
}
.project #centeredcontent{
	text-align: center;
	margin: 15% 15% 0 10%;
}
.project #rightpanel p{
	color: #FE7E00;
	font-size: 30px;
	font-weight: 100;
	text-align: left;
	margin: 0;
	padding: 1% 0 1% 0;
	word-spacing: 10px;
	letter-spacing: 2px;
	font-family: 'Varela Round', sans-serif;
}
.project #rightpanel span{
	font-weight: 900;
}
.project .bluetext{
	color: #7ACCC8;
}
.project #rightpanel button{
	border: none;
	color: #F1DCBC;
	margin-top: 10%;
	width: 47%;
    padding: 4% 0 4% 0;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.project #leftbutton{
     background-color: #FE7E00;
     float: left;

}
.project #rightbutton{
	background-color: #7ACCC8;
	float: right;
}

/*Empty Blue Footer styling*/
.project footer{
	display:block;
	background-color: #7ACCC8;
	height: 85px;
	width: 100%;
}

/*Navigation bar media queries*/
@media(max-width: 1005px){
  .project nav li {
  	font-size: 10px;
	padding: 3% 4%;
  }
  .project nav div{
    font-size: 20px;
  }
}
@media(max-width: 940px){
  .project nav div{
	display: block;
	padding-top: 2%;
  }
  .project nav ul{
  	float: none;
	padding-left: 5%;
	width: 95%;
  }
  .project nav li{
  	padding: 1.5% 2%;
  	margin: 0;
    float: none;
  	display:block;
  }
}

/*Mid-Section Media Queries*/
@media(max-width: 1325px){
  .project #rightpanel button{
    font-size: 15px;
  }
  .project #rightpanel p{
	font-size: 30px;
  }
}
@media(max-width: 1070px){
  .project #rightpanel button{
    font-size: 10px;
  }
  .project #rightpanel p{
    font-size: 25px;
  }
}
@media(max-width: 680px){
  .project #rightpanel button{
    font-size: 8px;
  }
  .project #rightpanel p{
    font-size: 20px;
  }
}
@media(max-width: 520px){
  .project #rightpanel button{
    height: 35px;
  }
  .project #rightpanel p{
    font-size: 15px;
  }
  .project #centeredcontent{
  	margin-top: 30%;
  }
}
/*Search box media queries*/
@media(max-width: 940px){
  .project .inputzone input{
    font-size: 10px;
  }
  .project .inputzone i{
    font-size: 15px;
  }
  .project .inputzone{
    margin-top:2%;
  }
}
@media(max-width: 780px){
  .project .inputzone input{
  	font-size: 8px;
  	width: 50%;
  	height: 30px;
  }
.project .inputzone i{
    font-size: 10px;
  }
}
